.bg-black{
  background-color: black;
}

.font-div{
  width: 30%;
}

img{
  width: 100%;
  height: 100%;
}


/* Responsive */

@media only screen and (min-width: 1198px){
  .font-div{
    padding: 43px 0px!important;
  }
}

a {
  color:#e0fcff;
  text-decoration: none;
  background-color: transparent;
}

a:hover{
  font-size: 3em;
  color: #c3bee6;
  cursor: pointer;
}

.p-5 {
  padding: 0;
}

.input-group-lg>.custom-select, .input-group-lg>.form-control:not(textarea) {
  height: calc(1.5em + 1rem + 10px);
}

.typewriter {
  font-family: monospace; /* Web-safe typewriter-like font */
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .1em solid #fc6674; /* The typwriter cursor */
  letter-spacing: .05em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(50, end),
    blinking-cursor .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blinking-cursor {
  from, to { border-color: transparent }
  50% { border-color: #fc6674; }
}

.msgArea{
  width: 100%;
  height: 25vh;
}


/* Changing color background effect */
body{
  background-color:#c46b6b;
  -webkit-animation-name: example; 
  -webkit-animation-duration: 4s; 
  animation-name: example;
  animation-duration: 4s;
}

@-webkit-keyframes example {
  from {background-color: red;}
  to {background-color: #fc6674;}
}


@keyframes example {
  from {background-color: red;}
  to {background-color: rgba(162, 68, 51, 0.843);}
}


/* CSS FOR SLIDESHOW IN FOOTER */

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #62696f;
  color: #edf6ff;
  border-radius: 25px;
}

/* Slides */
.mySlides {
  display: none;
  padding: 32px;
  text-align: center;
}

/* The dot/bullet/indicator container */
.dot-container-dots {
    text-align: center;
    padding: 11px;
    background: #343a40;
    margin-top: 4px;
}
.dot-container {
  text-align: center;
  padding: 11px;
  background: #ddd;
  /* add a font family */
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5em;
}

/* Add a blue color to the author */
.author {color: cornflowerblue;}
